
<app-prubeh [krok]="1"></app-prubeh>
<alert></alert>

<form [formGroup]="formlyForm" (ngSubmit)="onSubmit()">
    <div class="mt-5 mb-5">
        <div class="r">
       
            <formly-form [model]="data"
                [fields]="formlyFields"
                [options]="formlyOptions"
                [form]="formlyForm">
            </formly-form>
          
            <div class="text-center" [hidden]="!formlyOptions.formState.layout.rzLoaded">
                <button type="submit" class="btn btn-lg btn-success mb-4 mr-2">{{ 'FORM.BUTTONS.DALE' | translate }}&nbsp;<i class="fa fa-chevron-right"></i></button>
            </div>   
            <!-- 
            <button type="button" class="btn btn-default" (click)="formlyOptions.resetModel()">Reset</button>
            -->
        </div>
    </div>
</form>

<!-- ********** MODALS ********** -->

<!-- Debug modal -->
<div bsModal #debugModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Debug</h4>
                <button type="button" class="close pull-right" (click)="debugModal.hide()" aria-label="Zavřít">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre>{{ data | json }}</pre>
            </div>
        </div>
    </div>
</div>