<app-prubeh [krok]="4"></app-prubeh>
<alert></alert>

<div class="row">
    <div class="col order-1 order-md-1">
        <a routerLink="/srovnani" class="btn btn-outline-secondary btn-sm float-left">
            <i class="fa fa-chevron-left"></i> {{ 'SJEDNANI.BACK' | translate }}
        </a>				
    </div>
    <div class="col-xs-12 col-md-auto order-3 order-md-2 text-center">
        <h3 class="text-center mt-4">
            <span class="">{{ 'SJEDNANI.TITLE' | translate }}</span>
        </h3>
    </div>
    <div class="col order-2 order-md-3 text-right">			
    </div>
</div>

<form [formGroup]="formlyForm" (ngSubmit)="onSubmit()">
    <div class="mt-1 mb-5">
        <div class="r">
            <formly-form [model]="data"
                [fields]="formlyFields"
                [options]="formlyOptions"
                [form]="formlyForm">
            </formly-form>
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-success mb-4 mr-2" [disabled]="false">
                    {{ 'FORM.BUTTONS.DALE' | translate }}&nbsp;
                    <i *ngIf="!false" class="fa fa-chevron-right"></i>
                    <i *ngIf="false" class="fa fa-spinner fa-spin"></i>
                </button>                
            </div>
        </div>
    </div>
</form>

<!-- ********** MODALS ********** -->

<!-- Debug modal -->
<div bsModal #debugModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Debug</h4>
                <button type="button" class="close pull-right" (click)="debugModal.hide()" aria-label="Zavřít">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre>{{ data | json }}</pre>
            </div>
        </div>
    </div>
</div>